{% extends 'base.html.twig' %}

{% block title %}Create event | Goyavee!{% endblock %}

{% block body %}

<main class="container position-relative ">
        <div class="row">
            <div class="col-12 col-md-3 d-flex justify-content-center justify-content-md-start">
                <a href="{{ path('event_new') }}" class="btn btn-primary btn-orange mt-2 mb-4"> Create an event</a>
            </div>
        </div>
        <div class="row" >
            <div class="col-12 col-lg-7">
                    {% for event in events %}
                <div data-event-id = '{{ event.id }}'
                data-event-name = '{{ event.name }}'
                data-event-location-latitude = '{{ event.location.latitude }}'
                data-event-location-longitude = '{{ event.location.longitude }}'
                data-event-category-id = '{{ event.category.id }}'
                class="card mb-3" style="max-width: 700px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="{{ asset('/' ~ event.getPhoto()) }}" class="card-img" alt="image_event">
                        </div>
                        <div class="col-md-4">
                            <div class="card-body event-informations">
                                <h5 class="card-title">{{event.name}}</h5>
                                <p class="card-text">{{ event.category.name }}</p>
                                <p class="card-text">On {{ event.dateStart ? event.dateStart|date('Y/m/d H:i') : '' }}</p>
                                <p class="card-text">{{ event.location.getCity }}</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card-body event-informations">
                                <p class="card-text text-justify"><small class="text-muted">{{ event.description|length > 115 ? event.description|slice(0, 110) ~ '...' : event.description }}</small></p>
                                <div class="d-flex justify-content-center">
                                    <a href="{{ path('event_show', {'id': event.id}) }}" class="btn btn-primary btn-orange mt-2 mb-4"> Let's see closer ! </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="col-12 col-lg-5 mapbox m-0 mb-3">
                <div id="mapevent"></div>
                <a onclick="getLocation()" class="btn btn-orange" style="position: absolute; top: 20px; left: 70px; z-index:230;">Find me</a>

            </div>
        </div>
    </main>





    {# <h1>Event index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Date_start</th>
                <th>Date_end</th>
                <th>Photo</th>
                <th>Category</th>
                <th>Created_at</th>
                <th>Id_location</th>
                <th>Id_organizer</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr
                data-event-id = '{{ event.id }}'
                data-event-name = '{{ event.name }}'
                data-event-location-latitude = '{{ event.location.latitude }}'
                data-event-location-longitude = '{{ event.location.longitude }}'
            >
                <td>{{ event.id }}</td>
                <td>{{ event.name }}</td>
                <td>{{ event.dateStart ? event.dateStart|date('Y-m-d H:i') : '' }}</td>
                <td>{{ event.dateEnd ? event.dateEnd|date('Y-m-d H:i') : '' }}</td>
                <td>{{ event.photo }}</td>
                <td>{{ event.category.name }}</td>
                <td>{{ event.createdAt ? event.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ event.location.getName }}</td>
                <td>{{ event.organizer.getFirstname }}</td>
                <td>{{ event.description }}</td>
                <td>
                    <a href="{{ path('event_show', {'id': event.id}) }}">show</a>
                    <a href="{{ path('event_edit', {'id': event.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table> #}

    {# <a href="{{ path('event_new') }}">Create new</a> #}
{% endblock %}




{% block javascripts %}
<script> 
    /*Affichage carte*/
    var carte = L.map('mapevent').setView([46.3630104, 2.9846608], 5);

    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(carte);

    /*Géolocalisation*/
    function getLocation() {
        if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);

        } else {
            alert('La géolocalisation n\'est pas fonctionnelle.');
        }
    }

    /*Marqueur et zoom*/

    function showPosition(position) {
    var marker = L.marker([position.coords.latitude, position.coords.longitude]);
    marker.addTo(carte).bindPopup('You are here.');
    marker.on('mouseover', function (e) {
            this.openPopup();
        });
        marker.on('mouseout', function (e) {
            this.closePopup();
        });

    carte.setZoom(16).panTo(new L.LatLng(position.coords.latitude, position.coords.longitude));

    }

    $(function() {
        $("div[data-event-id]").each(function() {

            console.log('category id ' + $(this).data('event-category-id'))

            var markerEvent = L.marker([ $(this).data('event-location-latitude'), $(this).data('event-location-longitude') ]);
            markerEvent.addTo(carte).bindPopup($(this).data('event-name'));

            markerEvent.on('mouseover', function (e) {
                this.openPopup();
            });
            markerEvent.on('mouseout', function (e) {
                this.closePopup();
            });
    
        });
    });
</script>
{% endblock %}


