{% extends 'base.html.twig' %}


{% block title %}Event{% endblock %}

{% block body %}

    <h1>Event</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ event.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ event.name }}</td>
            </tr>
            <tr>
                <th>Date_start</th>
                <td>{{ event.dateStart ? event.dateStart|date('Y-m-d H:i') : '' }}</td>
            </tr>
            <tr>
                <th>Date_end</th>
                <td>{{ event.dateEnd ? event.dateEnd|date('Y-m-d H:i') : '' }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ event.photo }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ event.category.name }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ event.createdAt ? event.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{ event.location.name }}</td>
            </tr>
            <tr>
                <th>Organizer</th>
                <td>{{ event.organizer.nickname }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ event.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('event_index') }}">back to list</a>

    <a href="{{ path('event_edit', {'id': event.id}) }}">edit</a>

    {{ include('event/_delete_form.html.twig') }}

    {{ form_start(commentForm) }}

    {{ form_row(commentForm.event) }}
    {{ form_row(commentForm.content) }}
    
    <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(commentForm) }}
    
{% endblock %}
