{% extends 'base.html.twig' %}

{% block title %}Home | Goyavee!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


<header class="container-fluid banner px-0 position-relative pb-3 pb-lg-5">
    <div class="container">
        <div class="catchphrase text-center row">
            <div class="col-12">
                <h1>Making new friends in old places</h1>
                <p></p>
            </div>
        </div>
        <form class="search row mx-0">
            <fieldset class="col-12 col-lg-9 p-2">
                <div class="row">
                    <div class="col-12 col-md-7 mb-3 mb-md-0">
                        <input placeholder="Where ?" type="text" class="pin w-100">
                    </div>
                    <div class="col-12 col-md-5">
                        <input placeholder="When ?" type="text" class="datepicker w-100">
                    </div>
                </div>
            </fieldset>
            <input type="submit" class="col-12 col-lg-3" value="Show me the way !" />
        </form>
    </div>
</header>
<main class="container-fluid px-0 position-relative">
    <div class="container pt-3">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-3 d-flex justify-content-center ">
                <div class="card cards">
                    <div class="card-body">
                        <h5 class="card-title">What to do?</h5>
                        <p class="card-text pb-4">Have some time to spare in your day? Sign in to see all the
                            awesome
                            activities that are happening around you.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 d-flex justify-content-center">
                <div class="card cards">
                    <div class="card-body">
                        <h5 class="card-title">Where to go ?</h5>
                        <p class="card-text pb-5">Use our interactive map to see what the city you’re in has to
                            offer!</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 d-flex justify-content-center">
                <div class="card cards">
                    <div class="card-body">
                        <h5 class="card-title">When ?</h5>
                        <p class="card-text pb-1">Have a specific date in mind? Use our built-in calendar to
                            organise your trip, there’s always something fun happening!</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 d-flex justify-content-center">
                <div class="card cards">
                    <div class="card-body">
                        <h5 class="card-title">With Whom ? </h5>
                        <p class="card-text pb-2">Do you like taking in the culture and making new friends along
                            the way? Then you’re gonna love Goyavee! </p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        {% for category in categories %}
        <section>
            <div class="row">
                <div class="col-12 pb-1">
                    <h2>{{category.name}}</h2>
                </div>
            </div>
            <div class="row">
                {% for event in category.event %}
                <div data-event-id = '{{ event.id }}'
                data-event-name = '{{ event.name }}'
                data-event-location-name = '{{ event.location.name }}'
                data-event-location-latitude = '{{ event.location.latitude }}'
                data-event-location-longitude = '{{ event.location.longitude }}'
                data-event-category-id = '{{ event.category.id }}' class="col-12 col-sm-6 col-md-4 d-flex justify-content-center">
                    <article class="activity-card">
                        <img class="card-img-top" src="{{ asset('/' ~ event.getPhoto()) }}" alt="image_activity">
                        <div class="card-body">
                            <h5 class="card-title">{{event.name}}</h5>
                            <p class="card-text">{{ event.description|length > 90 ? event.description|slice(0, 90) ~
                                '...' : event.description }}</p>
                            <a href="{{ path('event_show', { 'id' : event.id }) }}" class="btn btn-primary btn-orange">Let's see closer !</a>
                        </div>
                    </article>
                </div>
                {% endfor %}
                <hr>
            </div>
        </section>
        {% endfor %}

        <section>
            <div class="row justify-content-center align-items-center m-0">
                <div class="col-12 col-md-4 newsletter d-flex align-items-center justify-content-center mb-2">
                    <form class="d-flex justify-content-center flex-column">
                        <label class="text-center">Sign up and stay up to date to all of our new features and
                            upcoming
                            events. <br>
                        </label>
                        <div class="input-group mb-3">
                            <input type="email" class="form-control" placeholder="E-mail" aria-label="E-mail"
                                aria-describedby="buttonAddOnOne">
                            <div class="input-group-append">
                                <button class="btn btn-orange" type="button" id="buttonAddOnOne">Subscribe</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-12 col-md-7 mapbox-home m-0 mb-3">
                    <div id="macarte" class="map-blur m-0"></div>
                    <a id="btn-geo" onclick="getLocation()" class="btn btn-orange geobutton">Find me</a>
                </div>
            </div>
        </section>
    </div>
</main>
{% endblock %}

{% block javascripts %}
<script>
    if (document.getElementById('macarte') !== null) {
        var coords = null;

        /*Affichage carte*/

        var carte = L.map('macarte').setView([46.3630104, 2.9846608], 5);


        L.tileLayer('https://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://osm.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(carte);


        /*Géolocalisation*/

        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);

            } else {
                alert('La géolocalisation n\'est pas fonctionnelle.');
            }
        }

 /*Marqueur et zoom*/

 function showPosition(position) {
    var marker = L.marker([position.coords.latitude, position.coords.longitude]);
    marker.addTo(carte).bindPopup('You are here.' + '<p style="font-size:50px">&#129312;<p>');
    marker.on('mouseover', function (e) {
            this.openPopup();
        });
        marker.on('mouseout', function (e) {
            this.closePopup();
        });

    carte.setZoom(16).panTo(new L.LatLng(position.coords.latitude, position.coords.longitude));

    coords = position.coords;
    //console.log(coords);

    // Changes not geolocalised to geolocalise : removing css blur and button
    if (coords !== null) {
        var map = document.getElementById('macarte');
        var button = document.getElementById('btn-geo');

        map.classList.remove('map-blur');
        button.style.display = "none";
    }
    }

   function getColor(cat) {
        
    switch (cat) {
          case 1:
            return  '<p style="font-size:50px">&#127963;<p>';
          case 2:
            return '<p style="font-size:50px">&#127925;<p>';
          case 3:
            return '<p style="font-size:50px">&#127909;<p>';
          case 4:
            return '<p style="font-size:50px">&#127748;<p>';

          default: 
            return '<p style="font-size:50px">&#128123;<p>';
    }
}

    $(function() {
        $("div[data-event-id]").each(function() {

            var cat = $(this).data('event-category-id');

            console.log('category id ' + $(this).data('event-category-id'));

            var markerEvent = L.marker([ $(this).data('event-location-latitude'), $(this).data('event-location-longitude')]);
            

            markerEvent.addTo(carte).bindPopup($(this).data('event-location-name') + getColor(cat));

            markerEvent.on('mouseover', function (e) {
                this.openPopup();
            });
            markerEvent.on('mouseout', function (e) {
                this.closePopup();
            });
    
        });
    });

            
        }
</script>
{% endblock %}