{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.nickname) }}
        {{ form_row(registrationForm.firstname) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }} 
        {{ form_row(registrationForm.birthdate) }}
        {{ form_row(registrationForm.language) }}
        {{ form_row(registrationForm.nationality) }}
        {{ form_row(registrationForm.photo) }}
        {{ form_row(registrationForm.gender) }}
    
        
        

        <button class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}

{% block javascripts %}
<script>
    $(function() {
    
        $("[name='registrationForm']").validate({
            rules: {
                "registration_form[nickname]":{
                    "required": true,
                    "minlength": 8,
                    "maxlength": 20
                },
                "registration_form[photo]": {
                    "required": false
                },
            }
        })
    });

    jQuery.extend(jQuery.validator.messages, {
        required: "votre message",
        remote: "votre message",
        email: "votre message",
        url: "votre message",
        date: "votre message",
        dateISO: "votre message",
        number: "votre message",
        digits: "votre message",
        creditcard: "votre message",
        equalTo: "votre message",
        accept: "votre message",
        maxlength: jQuery.validator.format("votre message {0} caractéres."),
        minlength: jQuery.validator.format("votre message {0} caractéres."),
        rangelength: jQuery.validator.format("votre message  entre {0} et {1} caractéres."),
        range: jQuery.validator.format("votre message  entre {0} et {1}."),
        max: jQuery.validator.format("votre message  inférieur ou égal à {0}."),
        min: jQuery.validator.format("votre message  supérieur ou égal à {0}.")
        
</script>

{% endblock %} 
    }