<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Lato|Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v1.4.0/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet/v1.4.0/leaflet.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.css">
    <script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="{{ asset('dist/css/style.css') }}" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
    <!--[if lt IE 9]>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/
html5shiv.js"></script> <![endif]--> 
</head>

<body>

    {% block body %}{% endblock %}

    <footer class="container-fluid position-relative">
        <div class="container">
            <div class="row mx-0 bottom justify-content-center">
                <div class="col-12 col-md-4 col-lg-3">
                    <p class="pb-2">Our Story</p>
                    <ul class="justify-content-center">
                        <li class="nav-footer"><a href="#faq-modal" class="faq-modal" data-target="#modal-FAQ"
                                data-toggle="modal">FAQ</a></li> <br>
                        <li class="nav-footer pb-2"><a href="#">Contact us</a></li> <br>
                        <li class="nav-footer text-justify">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius esse reiciendis iusto
                            dolores reprehenderit cupiditate modi, officiis eos repellat quas nisi ut possimus nostrum
                            pariatur natus assumenda? Blanditiis, harum distinctio?
                        <li class="mt-3 social-network justify-content-center text-center"><span class="fab fa-facebook"></span>
                            <span class="fab fa-twitter"></span> <span class="fab fa-instagram"></span> <span class="fab fa-snapchat"></span></li>
                    </ul>

                </div>
                <div class="col-12 col-md-2">
                    <p class="pb-2">Langues</p>
                    <form action="">
                        <div class="input-group mb-3 input-group-sm">
                            <select class="custom-select" id="inputLanguages">
                                <option selected>English</option>
                                <option value="1">Français</option>
                                <option value="2">Español</option>
                                <option value="3">Italian</option>
                            </select>
                        </div>
                    </form>

                </div>
                <div class="col-12 col-md-2">
                    <p class="pb-2">Terms & Policies</p>
                    <ul>
                        <li class="nav-footer"><a href="#">Terms</a></li> <br>
                        <li class="nav-footer"><a href="#">Privacy Statement</a></li> <br>
                        <li class="nav-footer"><a href="#">Security</a></li>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-md-4 col-lg-4">
                    <a class="twitter-timeline" href="https://twitter.com/Lets_Goyavee?ref_src=twsrc%5Etfw">Tweets by
                        Lets_Goyavee</a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p class="mt-5">
                        Copyright @Goyavee!Team
                    </p>
                </div>
            </div>
        </div>

    </footer>

    <!-- FAQ Modal -->
    <div class="modal fade faq-modal" id="modal-FAQ" tabindex="-1" role="dialog" aria-labelledby="faq-modal"
        aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <h5 class="modal-title" id="modal-FAQ-title">FAQ</h5>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="card-title">What’s Goyavee! ?</p>
                    <p class="text-justify">The idea of Goyavee! Came to us when our co-founders had lunch for the
                        first time. While getting to know each other we realised how important culture was in our
                        day-to-day life. We also realised how much fun it was to create friendships in new places
                        during our travels. So we put our idea on paper and decided to create a platform that could
                        allow anyone anywhere to do just that.</p>

                    <p class="card-title mt-4">What makes Goyavee! special?</p>
                    <p class="text-justify">Let’s be honest, we could all go on our favorite social media and find
                        things to do in any city around the world. What we wanted to make had to be bigger that that.
                        Culture in all of its forms is a powerful thing. It allows people to connect, it allows people
                        to grow and to evolve. We wanted to create a space where every single person could find that.
                        All of our activities are curated with distinct logos to allow anyone to participate. Are you
                        in a wheelchair and are worried about a concert not being wheelchair-friendly? No worries, we
                        will help you find the venue that will allow you to enjoy your concert experience.
                        Want to go to a show just don’t know anyone to go with you, create the event on our website and
                        we’ll make sure people sign up and join the fun!
                        Don’t speak the language of the country you’re in? No worries, we’ll make sure to find someone
                        in your city who speaks the same language you do!</p>

                    <p class="card-title mt-4">Why Goyavee! ?</p>
                    <p class="text-justify">Because in French guava fruit is called goyave which also happens to be an
                        anagramme for voyage which means travel. We added an extra -e to made it a little more fun and
                        there you go!</p>
                    <div class="d-flex justify-content-center">
                        <img class="modal-logo" src="{{ asset('dist/images/logos/LogoGoyavee@0,5x.png') }}" alt="Logo">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-blue" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row cookie-bar w-100 mx-0">
        <div class="col-12">
            <p class="card-text">
                We use cookies (not the chocolate kind) on our website. If you agree, we will use them only to allow
                your experience on our website to be the very best! <button type="submit" class="btn btn-primary btn-orange float-right cookie-btn">I
                    agree</button>
            </p>
        </div>
    </div>


    <!-- Sign in Modal -->
    <div class="modal fade signin-modal" id="modal-signin" tabindex="-1" role="dialog" aria-labelledby="signin-modal"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <h5 class="modal-title" id="modal-signin-title ">Sign In</h5>

                </div>
                <div class="modal-body">
                    <div class="d-flex justify-content-center mb-4">
                        <img src="{{ asset('dist/images/logos/Goyavee.png') }}" class="modal-logo-guava" alt="logo">
                    </div>
                    <form action="" method="POST">
                        <div class="form-group">
                            <label for="emailSignup">Email address</label>
                            <input type="email" class="form-control" id="emailSignup" aria-describedby="emailHelp"
                                placeholder="Coraline@boogle.com">
                        </div>
                        <div class="form-group">
                            <label for="pwdSignup">Password</label>
                            <input type="password" class="form-control" id="pwdSignup" placeholder="*****" required>
                        </div>
                        <div class="d-flex justify-content-center mb-4">
                            <button type="button" class="btn btn-secondary btn-orange">Sign In</button>
                        </div>
                    </form>
                        <div class="justify-content-center">
                            <p class="text-center">Or sign in through social media</p>
                        </div>
                        <div class="justify-content-center">
                            <div class="row d-flex justify-content-center ">
                                <div class="col-12 col-md-6 d-flex justify-content-center mb-2">
                                    <a href="#" class="btn btn-block btn-social btn-facebook">
                                        <i class="fab fa-facebook-f pl-3 pr-3 pl-md-0 pr-md-2 pl-lg-3 pr-lg-3"></i>Sign in with Facebook
                                    </a>
                                </div>
                            </div>
                            <div class="row d-flex justify-content-center ">
                                <div class="col-12 col-md-6 d-flex justify-content-center mb-2">
                                    <a href="#" class="btn btn-block btn-social btn-google">
                                        <i class="fab fa-google pr-3"></i>Sign in with Google
                                    </a>
                                </div>
                            </div>
                             <div class="row d-flex justify-content-center ">
                                <div class="col-12 col-md-6 d-flex justify-content-center">
                                    <a href="#" class="btn btn-block btn-social btn-twitter">
                                        <i class="fab fa-twitter pr-3"></i>Sign in with Twitter
                                    </a>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-blue" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Sign up Modal -->
 <div class="modal fade signup-modal" id="modal-signup" tabindex="-1" role="dialog" aria-labelledby="signup-modal"
 aria-hidden="true">
 <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
     <div class="modal-content">
         <div class="modal-header modal-header justify-content-center">
                <h5 class="modal-title" id="modal-signup-title ">Sign up to see more...</h5>
         </div>
         <div class="modal-body">
            <div class="d-flex justify-content-center mb-4">
                <img src="{{ asset('dist/images/logos/Goyavee.png') }}" class="modal-logo-guava" alt="logo">
            </div> 
             <form>     
                 <div class="form-row">
                     <div class="form-group col-md-6">
                         <label for="emailInput">Email</label>
                         <input type="email" class="form-control" id="emailInput" placeholder="Coraline@boogle.com">
                         <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                     </div>

                     <div class="form-group col-md-6">
                         <label for="UserNameInput">User Name</label>
                         <input type="text" class="form-control" id="UserNameInput" placeholder="PurpleCactus">
                     </div>

                     <div class="form-group col-md-6">
                         <label for="passwordInput">Password</label>
                         <input type="password" class="form-control" id="passwordInput" placeholder="*****" required>
                     </div>

                     <div class="form-group col-md-6">
                         <label for="confirmPasswordInput">Confirm Password</label>
                         <input type="password" class="form-control" id="confirmPasswordInput" placeholder="*****" required>
                     </div>

                 </div>
                 <div class="custom-control custom-radio col-12 col-md-5 col-lg-3 mb-3 mt-3">
                     <div>
                         <input type="radio" id="femaleRadio" name="gender" class="custom-control-input">
                         <label class="custom-control-label" for="femaleRadio">Female</label>
                     </div>
                     <div>
                         <input type="radio" id="maleRadio" name="gender" class="custom-control-input">
                         <label class="custom-control-label" for="maleRadio">Male</label>                    
                    </div>
                    <div>
                        <input type="radio" id="ratherNotSayRadio" name="gender" class="custom-control-input">
                        <label class="custom-control-label" for="ratherNotSayRadio">Rather not say</label>
                    </div>
                </div>
                <div class="form-group col-md-12 col-lg-6 custom-file mr-1 d-flex justify-content-center">
                        <input type="file" class="custom-file-input" id="ProfileImageInput">
                        <label class="custom-file-label" for="ProfileImageInput">Choose your profile picture</label>
                </div>
                <small id="ProfileImageHelp" class="form-text text-muted mb-4">Put up your mean mug !</small>
                <div class="d-flex justify-content-center mb-4">
                        <button type="button" class="btn btn-secondary btn-orange">Sign Up</button>
                </div>
            </form>
             <div class="justify-content-center">
                    <p class="text-center">Or sign up through social media</p>
            </div>
            <div class="justify-content-center">
                    <div class="row d-flex justify-content-center ">
                        <div class="col-12 col-md-6 d-flex justify-content-center mb-2">
                            <a href="#" class="btn btn-block btn-social btn-facebook">
                                <i class="fab fa-facebook-f pl-3 pr-3 pl-md-0 pr-md-2 pl-lg-3 pr-lg-3"></i>Sign up with Facebook
                            </a>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center ">
                        <div class="col-12 col-md-6 d-flex justify-content-center mb-2">
                            <a href="#" class="btn btn-block btn-social btn-google">
                                <i class="fab fa-google pr-3"></i>Sign up with Google
                            </a>
                        </div>
                    </div>
                     <div class="row d-flex justify-content-center ">
                        <div class="col-12 col-md-6 d-flex justify-content-center">
                            <a href="#" class="btn btn-block btn-social btn-twitter">
                                <i class="fab fa-twitter pl-md-0 pr-md-2 pr-3"></i>Sign up with Twitter
                            </a>
                        </div>
                    </div>
            </div>

         </div>
         <div class="modal-footer">
             <button type="button" class="btn btn-secondary btn-blue" data-dismiss="modal">Close</button>
         </div>
     </div>
 </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ asset('dist/js/scripts.js') }}"></script>
{% block javascripts %}{% endblock %}

</body>

</html>