{% extends 'base.html.twig' %}



{% block title %}Profile | Goyavee!{% endblock %}

{% block body %}
{# Private profile #}

<main class="container-fluid position-relative">
    <!-- sidebar profile -->
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-3">
            <div class="d-flex justify-content-center">
                <img src="{{ asset('/' ~ user.getPhoto()) }}" class="profile_picture" alt="profile_picture">
            </div>
            <div>
                <p class="text-center">Hi {{ user.nickname }}</p>
                {# ajouter condition si profil = rempli -70% : écrit une phrase : you should update your profile asap #}
                <p class="text-center"><a href="{{ path('user_edit')}}">Modify Profile</a></p>
                
                <p class="text-center"><a href="public_profil.html">Public Profile</a></p>
            </div>
            <div class="d-flex justify-content-center">
                {% if user.rating == 5 %}
                <span class="fa fa-star rating-checked"></span>
                <span class="fa fa-star rating-checked"></span>
                <span class="fa fa-star rating-checked"></span>
                <span class="fa fa-star rating-checked"></span>
                <span class="fa fa-star rating-checked"></span>
                 {% elseif user.rating == 4 %}  
                 <span class="fa fa-star rating-checked"></span>
                <span class="fa fa-star rating-checked"></span>
                <span class="fa fa-star rating-checked"></span>
                <span class="fa fa-star rating-checked"></span>
                <span class="fa fa-star"></span>
                 {% elseif user.rating == 3 %} 
                 <span class="fa fa-star rating-checked"></span>
                 <span class="fa fa-star rating-checked"></span>
                 <span class="fa fa-star rating-checked"></span> 
                 <span class="fa fa-star"></span>
                 <span class="fa fa-star"></span>
                 {% elseif user.rating == 2 %}  
                 <span class="fa fa-star rating-checked"></span>
                 <span class="fa fa-star rating-checked"></span> 
                 <span class="fa fa-star"></span>
                 <span class="fa fa-star"></span>
                 <span class="fa fa-star"></span>
                 {% elseif user.rating == 1 %}
                 <span class="fa fa-star rating-checked"></span>
                 <span class="fa fa-star"></span>
                 <span class="fa fa-star"></span>
                 <span class="fa fa-star"></span>
                 <span class="fa fa-star"></span>
                 {% else %}
                 <span class="fa fa-star"></span>
                 <span class="fa fa-star"></span>
                 <span class="fa fa-star"></span>
                 <span class="fa fa-star"></span>
                 <span class="fa fa-star"></span>
                {% endif %}
            </div>
            <hr class="hr-private-profile">
            <div class="d-flex flex-wrap justify-content-center">
                <div class="icon-interest">
                    <img src="{{asset('dist/images/icon-music.png') }}">
                </div>
                <div class="icon-interest">
                    <img src="{{asset('dist/images/icon-movie.png') }}">
                </div>
                <div class="icon-interest">
                    <img src="{{asset('dist/images/icon-museum.png') }}" >
                </div>
            </div>

            <hr class="hr-private-profile">
            <div>
                <p class="text-center">Quick informations about you</p>
                <p class="text-center">{{ user.firstname }}</p>
                <p class="text-center">{{ user.email }}</p>
                <p class="text-center">{{ user.birthdate ? user.birthdate|date('Y-m-d') : '' }}</p>
                <p class="text-center"> {{ user.nationality }}</p>                
            </div>
            <div class="d-flex justify-content-center">
                <a href="{{ path('event_new') }}" class="btn btn-primary btn-orange mt-2 mb-4"> Create an event</a>
            </div>
        </div>
        <!-- carousels -->
        <div class="col-sm-12 col-md-7 col-lg-8">
            <div class="row justify-content-center pt-4 pb-4">
                <div class="col-12">
                    <h4 class="card-title">Upcoming Events :</h4>
                    <div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel" data-interval="1000">
                            <div class="MultiCarousel-inner">
                                    {% for event in events %}
                                    <div class="item">
                                        <div class="pad15">
                                            <p class="lead">{{event.name}}</p>
                                            <div><img src="{{ asset('/' ~ event.getPhoto()) }}" alt="image_event"></div>
                                            <p class="mt-1">{{event.location.name}}</p>
                                            <p>{{ event.dateStart ? event.dateStart|date('Y/m/d') : '' }}</p>
                                        </div>
                                    </div>
                                    {% endfor %}
                            </div>
                            <button class="btn btn-warning leftLst">
                                <</button> <button class="btn btn-warning rightLst">>
                            </button>
                        </div>
                    </div>
                <div class="col-12">
                    <h4 class="card-title">Previous Events :</h4>
                    <div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel" data-interval="1000">
                        <div class="MultiCarousel-inner">
                                {% for event in events %}
                                <div class="item">
                                    <div class="pad15">
                                        <p class="lead">{{event.name}}</p>
                                        <div><img src="{{ asset('/' ~ event.getPhoto()) }}" alt="image_event"></div>
                                        <p class="mt-1">{{event.location.name}}</p>
                                        <p>{{ event.dateStart ? event.dateStart|date('Y/m/d') : '' }}</p>
                                    </div>
                                </div>
                                {% endfor %}
                        </div>
                        <button class="btn btn-warning leftLst">
                            <</button> <button class="btn btn-warning rightLst">>
                        </button>
                    </div>
                </div>
            </div>
        </div>

</main>





{# <table class="table">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ user.id }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <th>Roles</th>
            <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
        </tr>
        <tr>
            <th>Password</th>
            <td>{{ user.password }}</td>
        </tr>
        <tr>
            <th>Nickname</th>
            <td>{{ user.nickname }}</td>
        </tr>
        <tr>
            <th>Firstname</th>
            <td>{{ user.firstname }}</td>
        </tr>
        <tr>
            <th>Birthdate</th>
            <td>{{ user.birthdate ? user.birthdate|date('Y-m-d') : '' }}</td>
        </tr>
        <tr>
            <th>Language</th>
            <td>{{ user.language }}</td>
        </tr>
        <tr>
            <th>Nationality</th>
            <td>{{ user.nationality }}</td>
        </tr>
        <tr>
            <th>Photo</th>
            <td>{{ user.photo }}</td>
        </tr>
        <tr>
            <th>Gender</th>
            <td>{{ user.gender }}</td>
        </tr>
        <tr>
            <th>CreatedAt</th>
            <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
    </tbody>
</table>

<a href="{{ path('user_index') }}">back to list</a>

<a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>

{{ include('user/_delete_form.html.twig') }} #}
{% endblock %}